
@model IEnumerable<Format>

@{
    ViewData["Title"] = " | Manage Formats";
}

<h1 class="mb-2">Manage Formats</h1>

<h5 class="mt-2"><a asp-action="Add" asp-area="Admin" style="color: black">Add a Format</a></h5>

<table class="table table-bordered table-striped table-sm">
    <thead class="thead-dark">
        <tr><th style="color:aqua">FormatId</th><th style="color:aqua">Name</th><th style="color:aqua"></th></tr>
    </thead>
    <tbody>
        @foreach (Format format in Model)
        {
            <tr>
                <td>@format.FormatId</td>
                <td>@format.Name</td>
                <td>
                    <a asp-action="ViewGames" asp-area="Admin" asp-route-id="@format.Name"
                       class="btn btn-outline-custom" name="Operation">View Games</a>
                    <a asp-action="Edit" asp-area="Admin" asp-route-id="@format.FormatId"
                       class="btn btn-outline-custom" name="Operation">Edit</a>
                    <a asp-action="Delete" asp-area="Admin" asp-route-id="@format.FormatId"
                       class="btn btn-outline-custom" name="Operation">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
